/*!
 * Copyright ©️ 2020 GaltProject Society Construction and Terraforming Company
 * (Founded by [Nikolai Popeka](https://github.com/npopeka)
 *
 * Copyright ©️ 2020 Galt•Core Blockchain Company
 * (Founded by [Nikolai Popeka](https://github.com/npopeka) by
 * [Basic Agreement](ipfs/QmaCiXUmSrP16Gz8Jdzq6AJESY1EAANmmwha15uR3c1bsS)).
 */

//.md-field-label {
//  font-size: 13px;
//}

.bold {
  font-weight: bold !important;
}

.grey-description {
  color: grey;
  margin: 15px 0;
  font-size: 12px;
}

a:not(.md-button):not(.icon-link):not(.md-button-clean):not([role="button"]):not(.md-icon-button) {
  text-decoration: underline;
  &:hover, &:active {
    text-decoration: none;
  }
}

a.md-icon-button:hover {
  text-decoration: none;
}

.md-title {
  font-size: 18px;
}
