.geesome-media-modal {
  .modal-content {
    padding: 0;
    border: none;
    background: transparent !important;
    box-shadow: none;
  }

  .modal-body {
    padding: 0;
    position: relative;
    width: 100vw;
    .background {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
    }
    .media-container {
      z-index: 2;
    }
  }

  .modal-dialog {
    margin: 0;
  }

  .next-preview {
    width: 0;
    height: 0;
    position: absolute;
    opacity: 0;
  }

  .media-container {
    height: 100vh;
    width: 100vw;
    background: #1a1728cf;
    display: flex;
    justify-content: center;
    align-items: center;
    //background: #1A1728;
    padding: 30px;
    padding-bottom: 50px;

    .media-content {
      & > * {
        height: 100%;
        margin: auto;
        display: block;
        background-size: contain;
        min-height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        width: 90%;

        &,
        .media-video,
        .mejs__container,
        .mejs__mediaelement {
          max-height: 95vh;
        }

        .mejs__video:not(.mejs__container-fullscreen),
        .mejs__video,
        .mejs__mediaelement,
        mediaelementwrapper,
        mediaelementwrapper > div {
          height: auto !important;
          min-height: initial;
        }
        .mejs__video .mejs__inner {
          height: initial;
        }
      }
    }

    .slider-controls {
      position: absolute;
      bottom: 0;
      z-index: 90;
      left: 0;
      right: 0;

      .left-arrow, .right-arrow {
        position: absolute;
        cursor: pointer;
        top: initial;
        bottom: 150px;
        //top: calc(#{$height} / 2 - 25px);
        border: none;
        width: 40px;
        height: 40px;
        background-color: transparent;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .left-arrow {
        left: 40px;
        background-image: url("images/active-circle-slider-arrow.png");
      }

      .right-arrow {
        right: 40px;
        background-image: url("images/active-circle-slider-arrow.png");
        transform: scaleX(-1);
      }

      .dots {
        position: absolute;
        right: 0;
        left: 0;
        bottom: 130px;
        //bottom: 5px;
        display: flex;
        justify-content: center;
        align-items: center;

        & > * {
          border: none;
          cursor: pointer;
          background-color: white;
          height: 6px;
          width: 6px;
          border-radius: 100%;
          transition: all 150ms linear 0s;
          margin: 2px;
          padding: 0;

          &.active {
            height: 8px;
            width: 8px;
          }
        }
      }
    }
  }

}


@media (max-width: 750px) {
  .geesome-media-modal {
    .modal-dialog {
      margin-top: 0;

      .modal-content {
        padding: 0;
      }
      .media-container {
        padding: 42px 30px;
        .media-content {
          & > * {
            width: 100%;
          }
        }
        .slider-controls {
          .dots {
            bottom: 100px;
          }
          .left-arrow, .right-arrow {
            background-size: 40px;
            top: initial;
            width: 80px;
            height: 80px;
          }
          .right-arrow {
            right: 0;
          }
          .left-arrow {
            left: 0;
          }
        }
      }
    }
  }
}